<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Ponto Digital</title>
    @if(!"Home".Equals((string)ViewData["NomeView"])){
        <link href="~/css/style--flex.css" rel="stylesheet" type="text/css">
    }
</head>
<body class="flex-container">

@RenderBody()
 <footer>
    <div class="section-container">
        <address>
            Avenida de Limeira, 539 - Campos Elíseos - SP
            <br />
            pontodigital@gmail.com
            <br />
            11 1234 6789
        </address>
        <a href="#">Voltar para o topo!</a>
    </div>
</footer>

</body>
</html>
